<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/TelegramController.js"></script>

  </head>
  <body ng-app="Archos">

    <ion-pane>
      <ion-content style="background-color:#383838">
          <div style="padding:20px;" class="row">
            <div class="center" class="col">
              <div data-ng-controller="QuizzlerController" data-ng-init="startTimer()">
                <h1 style="color:white">{{currentTime}}</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <div class="card">
                <div class="item item-divider">
                  Today's Updates
                </div>
                  <ul class="list">
                    <li class="item">
                      ...
                    </li>
                    <li class="item">
                      ...
                    </li>
                  </ul>
              </div>
            </div>
            <div class="col-25">
              <div class="list card" data-ng-controller="QuizzlerController" data-ng-init="getQuestions()" >
                <div class="item item-divider">
                  Quizzler
                </div >
                <!--<ul class="list">-->
                  <!--<div ng-repeat="question in list_of_questions track by question.question_id" class="item" >-->
                    <!--<span>{{ question.question_text }}</span>-->
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Phone Number</span>
                  <input ng-controller="TelegramController" ng-model="phoneNumber" type="text" placeholder="">
                </label>
                  <!--</div>-->
                  <!--<li >-->
                <button style="margin: 0px" class="button button-full button-positive" ng-controller="TelegramController" ng-click="sendCode()">
                  Send Code
                </button>
                    <button style="margin: 0px" class="button button-full button-positive" ng-controller="QuizzlerController" ng-click="openModal()">
                      Add Question
                    </button>
                  <!--</li>-->
                </ul>
              </div>
            </div>
          </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
